@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap");

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.body {
  background: #e5e5e5;
  font-family: "Heebo", sans-serif;
}
.content-main {
  background-image: url(/image/backgraund.svg);
}

.content-container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.content-panel {
  display: flex;
  
  position: absolute;
}

.content-panel__list {
  list-style: none;
  display: flex;
  margin-top: 30px;
  padding-left: 0px;
}

.content-panel__item {
  margin-right: 60px;
}

.content-panel_link:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 28px;
  padding-top: 3px;
  border-bottom: 2px solid #13E780;
  animation: 0.5s show;
} 

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-panel_link {
  color: #fff;
  font-size: 20px;
  text-decoration: none; /* Убрать подчеркивание */
}

.content_wrap{
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    border-radius: 5px;
    padding: 60px 160px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgb(0 54 60 / 20%);
    min-height: 500px;
    max-width: 500px;
    margin: 100px 0;
}

.content_wrap__h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.content_wrap__h1 > i {
  line-height: 1.7;
  font-weight: 700;
  font-size: 38px;
}

.content_row {
  display: flex;

}

.content_row__column {
  max-height: 255px;
  max-width: 211px;
  background-color: #fff;
}